.container {
    width: 95%;    
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid #000;
    padding: 10px;
}
.box {
    width: 100px;
    height: 50px;
    background-color: aqua;  
    border: 1px solid black;  
}
.left {
    float: left;
    width: 150px; 
    height: 70px;
    margin-right: 10px;
}
.right {
    float: right;
    width: 150px; 
    height: 70px;
    margin-left:10px;
    
}

.right-big{
    height: 148px;
    width: 150px;
    float: left ;
}
.centr-big{
    height: 148px;
    width: 150px;
    float: left;
    margin-left: 698px;
    padding: 1px;
    
}
.centr1{
    width: 150px; 
    height: 70px;
    float: none;
    margin-left: 860px;    
    padding: 2px;

}
.centr2{
    width: 150px; 
    height: 70px;
    float: none;
    margin-left: 860px;  
    padding: 2px;  
    
}

.right1{
    width: 150px; 
    height: 70px;
    float: none;
    margin-left: 91%;    
    padding: 2px;

}
.right2{
    width: 150px; 
    height: 70px;
    float: none;
    margin-left: 91%;  
    padding: 2px;  
    
}
